Package: encdec
Version: 1.5.0-1
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Encrypt - decrypt strings
 AES-256 encode and decode strings
Section: Administration Utilities
Build-Depends: golang-any
