Package: encdec
Version: 1.30.00-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Encrypt - decrypt strings
 AES-256 encode and decode strings
Section: Administration Utilities
Depends: gcc
